/* Generic */

.textColorWhite {
	color: var(--white) !important;
}

.textColorBlack {
	color: var(--black) !important;
}

.backgroundPrimary {
	background-color: var(--primary) !important;
}

.iconSize {
	font-size: 1.25rem !important;
}

.productImg {
	height: 150px !important;
	width: 150px !important;
}

.buttonGradient {
	color: var(--white) !important;
	background: var(--primary) !important;
	background: linear-gradient(
		90deg,
		var(--primary) 0%,
		var(--primaryDark) 100%
	) !important;
	border: 2px solid var(--primaryDark);
	-webkit-box-shadow: 0 2px var(--primaryDark);
	-moz-box-shadow: 0 2px var(--primaryDark);
	box-shadow: 0 2px var(--primaryDark);
}

.buttonGradient:active {
	transform: translateY(2px);
	box-shadow: none;
}

.secondaryButton {
	background: var(--white) !important;
	color: var(--black) !important;
}

.customShadow {
	box-shadow: 0 1px 2px 0 var(--primary) !important;
}

/* Header */

.searchBarSmall {
	padding: 10px 10px !important;
}

/* Footer */
.FooterLink {
	min-height: 30px !important;
}

/* Cart */

.removeItem_SmallDevice {
	top: unset !important;
}

.TotalPrice_SmallDevice {
	z-index: 1500;
}

.ProductImg {
	margin-top: 5px;
}
.ProductDesc {
	padding: 2rem 3rem !important;
}

/* Quantity Control */

.quantityControl {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	margin: 0 auto;
	padding: 0.6rem 0.4rem;
	background: var(--white) !important;
}

.quantityBtn {
	background: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0px 8px;
	cursor: pointer;
}

.quantityInput {
	outline: none;
	user-select: none;
	text-align: center;
	width: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
}

.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
