/* Generic */
:root {
    --primary: #1e87f0;
    --white: #ffffff;
    --black: #000000;
    --greyDark: #9baacf;
}

.textColorWhite {
    color: var(--white) !important;
}

.textColorBlack {
    color: var(--black) !important;
}

.backgroundPrimary {
    background-color: var(--primary) !important;
}

/* Footer */
.FooterLink {
    min-height: 30px !important;
}

/* Cart */

.quantityControlBorder {
    border-style: solid;
    border-width: thin;
    padding: 2px 5px;
    border-radius: 5px;
}

.quantityControlList {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
}

.quantityControl_SmallDevice {
    right: 0 !important;
    position: absolute !important;
    max-width: 100%;
}

.removeItem_SmallDevice {
    top: unset !important;
}

.TotalPrice_SmallDevice {
    z-index: 1500;
}
